# <font color="blue"> MBA em Ciência de Dados</font>
# <font color="blue">Programação para Ciência de Dados</font>

## <font color="blue">Pandas Parte II - Solução da Avaliação</font>
**Material Produzido por Luis Gustavo Nonato**<br>
**Cemeai - ICMC/USP São Carlos**
---

Os exercícios a seguir farão uso dos arquivos <font style="font-family: monaco">ESC2013\_RMSP\_CEM.csv</font> e <font style="font-family: monaco">ENEM2015.csv</font> disponíveis para download no sistema _Moodle_.

In [2]:
import numpy as np
import pandas as pd

### Exercício 1)
Carregue os arquivos <font style="font-family: monaco">ESC2013\_RMSP\_CEM.csv</font> e <font style="font-family: monaco">ENEM2015.csv</font>, armazenando-os em variáveis tipo DataFrame chamadas `escolas` e `enem` respectivamente. 
Os arquivos <font style="font-family: monaco">ESC2013_RMSP_CEM.csv</font> e <font style="font-family: monaco">ENEM2015.csv</font> possuem em comum o código das escolas, os quais estão armazenados nas colunas CODESC e CODIGO DA ENTIDADE, respectivamente.

Quantas escolas cujo código aparece no arquivo <font style="font-family: monaco">ENEM2015.csv</font> tambem aparecem em <font style="font-family: monaco">ESC2013_RMSP_CEM.csv</font>?

a) 1243 escolas<br>
b) 1043 escolas <br>
c) 10243 escolas <br>
d) 1003 escolas

**Dica**: Utilize o método <font color='blue'>isin</font> do <font color='blue'>pandas</font>.

In [6]:
# Solucao

enem = pd.read_csv('ENEM2015.csv')
escolas = pd.read_csv('ESC2013_RMSP_CEM.csv')

escolas[escolas['CODESC'].isin(enem['CODIGO DA ENTIDADE'])]

,ID,LONGITUDE,LATITUDE,CODESC,CODESCTX,NOMEESC,NOMEMUN,CODMUN,NOMDIST,CODDIST,...,IDEB11AF,IDEB13AF,RED_EN13,LC_EN13,MAT_EN13,CH_EN13,CN_EN13,ENEM2013,INSE_AB,INSE_CL
14,94,-47065439,-23935534,35325983,35325983,TALES DE MILETO COLEGIO,JUQUITIBA,3526209,JUQUITIBA,352620905.0,...,NaN,NaN,549.09,535.24,628.28,586.51,537.21,571.81,60.7539,Alto
22,11449,-46992707,-23924130,35044891,35044891,BAIRRO DAS PALMEIRAS,JUQUITIBA,3526209,JUQUITIBA,352620905.0,...,5.0,5.2,NaN,NaN,NaN,NaN,NaN,NaN,49.3944,Medio
26,411,-46947603,-23856125,35080615,35080615,ANDRE FRANCO MONTORO GOVERNADOR,SAO LOURENCO DA SERRA,3549953,SAO LOURENCO DA SERRA,354995305.0,...,4.6,4.7,507.06,499.38,515.25,506.74,461.89,495.81,52.0052,Medio Alto
38,414,-46944077,-23851892,35010017,35010017,MARIANINHA QUEIROZ PROFESSORA,SAO LOURENCO DA SERRA,3549953,SAO LOURENCO DA SERRA,354995305.0,...,4.4,4.3,533.93,480.75,503.80,498.01,477.03,489.90,50.5632,Medio Alto
50,423,-47022685,-23686029,35908551,35908551,SIDRONIA NUNES PIRES,COTIA,3513009,CAUCAIA DO ALTO,351300910.0,...,4.7,4.7,560.43,507.91,533.63,520.47,467.07,507.27,54.6762,Medio Alto
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10837,9217,-46230259,-23328359,35006555,35006555,MARIA SANTOS BAIRAO PROFA,SANTA ISABEL,3546801,SANTA ISABEL,354680105.0,...,4.0,4.8,NaN,NaN,NaN,NaN,NaN,NaN,51.1287,Medio Alto
10843,9223,-46223878,-23322488,35166406,35166406,SANTA ISABEL COLEGIO,SANTA ISABEL,3546801,SANTA ISABEL,354680105.0,...,NaN,NaN,648.00,533.35,561.61,573.15,549.80,554.48,NaN,NaN
10888,11426,-46039189,-23579614,35006592,35006592,ADHEMAR BOLINA PROFESSOR,BIRITIBA-MIRIM,3506607,BIRITIBA-MIRIM,350660705.0,...,4.1,4.0,NaN,NaN,NaN,NaN,NaN,NaN,50.6909,Medio Alto
10913,9263,-46024277,-23417555,35038398,35038398,IVAN BRASIL,GUARAREMA,3518305,GUARAREMA,351830505.0,...,5.1,4.4,581.09,519.20,521.35,522.83,486.50,512.47,55.4510,Alto
10933,9281,-45844148,-23531405,35006737,35006737,OLGA CHAKUR FARAH PROFESSORA,SALESOPOLIS,3545001,SALESOPOLIS,354500105.0,...,5.2,4.8,531.92,494.55,514.11,511.57,473.05,498.32,51.9947,Medio Alto

### Exercício 2)

Verifique quantos valores faltantes existem em cada um dos DataFrames:

a) `escolas`: 776346 valores faltantes; `enem`: 1 valores faltantes <br>
b) `escolas`: 776346 valores faltantes; `enem`: 3 valor faltante <br>
c) `escolas`: 7346 valores faltantes; `enem`: 103 valores faltantes <br>
d) `escolas`: 7346 valores faltantes; `enem`: 10 valores faltantes

In [18]:
# Solucao
escolas.isna().sum().sum()

776346

In [19]:
enem.isna().sum().sum()

3

### Exercício 3)
No DataFrame `escolas`, qual o rótulo da coluna com o maior número de valores faltantes.

a) LP05_AF<br>
b) MAT05_AF <br>
c) IDEB05AF <br>
d) COD_SC

__Dica__: Utilize uma combinação dos comandos <font color='blue'>isna</font>, <font color='blue'>sum</font> e <font color='blue'>idxmax</font> do <font color='blue'>pandas</font>

In [20]:
# Solucao
escolas.isna().sum().sort_values()

ID               0
REG_IN_PE        0
REG_FU_8A        0
REG_FU_9A        0
REG_MED          0
             ...
IDEB05AF     10479
MAT05_AF     10479
NP05_AF      10479
LP05_AF      10479
COD_SC       10937
Length: 136, dtype: int64

### Exercício 4)

O DataFrame `enem` possui valores faltantes na coluna 'Classificacao'. Preencha os valores faltantes com o valor da 'média' da coluna. O valor aproximado da média utilizada para preencher os valores faltantes é:

a) 1.96<br>
b) 2.04<br>
c) 3.10<br>
d) 4.06

In [25]:
# Solucao
enem[enem['Classificacao'].isna()]['Classificacao'].fillna(enem['Classificacao'].mean()).mean()

2.037903225806452

### Exercício 5)
Os arquivos <font style="font-family: monaco">ESC2013\_RMSP\_CEM.csv</font> e <font style="font-family: monaco">ENEM2015.csv</font> possuem em comum o código das escolas, os quais estão armazenados nas colunas _CODESC_ e _CODIGO DA ENTIDADE_, respectivamente.

Busque na coluna 'NUMERO DE PARTICIPANTES' do DataFrame `enem` o código da escola com o maior número de participantes no ENEM. Utilizando o código obtido, imprima o nome de tal escola (armazenado na coluna 'NOMEESC' do DataFrame `escolas`). A escola com o maior número de participantes é:

a) TEOTONIO ALVES PEREIRA<br>
b) THAMARA CORREA DE MATOS<br>
c) BRASILIO FLORES DE AZEVEDO<br>
d) OSWALDO SAMMARTINO

In [34]:
# Solucao

escolas.merge(enem, left_on='CODESC', right_on='CODIGO DA ENTIDADE').groupby('NOMEESC', as_index=False).sum()[['NOMEESC', 'NUMERO DE PARTICIPANTES']].sort_values(by= 'NUMERO DE PARTICIPANTES',ascending=False)

                                NOMEESC  NUMERO DE PARTICIPANTES
186          BRASILIO FLORES DE AZEVEDO                      574
372                ETAPA COLEGIO DE EFM                      488
157            BANDEIRANTES COLEGIO EFM                      430
403              FILINTO MULLER SENADOR                      426
429                  GETULIO VARGAS ETE                      408
..                                  ...                      ...
267       COOPERATIVISTA DE POA COLEGIO                       10
451                    HARMONIA COLEGIO                       10
639                  MARCO ZERO COLEGIO                       10
910  PRESTES MAIA INSTITUTO EDUCACIONAL                       10
141              ASSUNCAO COLEGIO EIEFM                       10

[1221 rows x 2 columns]